.favicons {
  background-image: url("favicons.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  -o-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  -webkit-transform:scale(0.5,0.5);
/*   scale: 0.5; */
  margin: 0 0 0 -8px;
}
#adiop_com {background-position: 0px 0px;}
#theonion_com {background-position: -32px 0px;}
#ekathimerini_com {background-position: -64px 0px;}
#pcworld_com {background-position: -96px 0px;}
#tapnewswire_com {background-position: -128px 0px;}
#nationalreview_com {background-position: -160px 0px;}
#hipertextual_com {background-position: -192px 0px;}
#news24_com {background-position: -224px 0px;}
#channelnewsasia_com {background-position: -256px 0px;}
#precinctreporter_com {background-position: -288px 0px;}
#afro_com {background-position: -320px 0px;}
#washingtonpost_com {background-position: -352px 0px;}
#theregister_com {background-position: -384px 0px;}
#kulturehub_com {background-position: -416px 0px;}
#insidexpress_com {background-position: -448px 0px;}
#thesouthafrican_com {background-position: -480px 0px;}
#notalotofpeopleknowthat_wordpress_com {background-position: -512px 0px;}
#roxannereid_co_za {background-position: -544px 0px;}
#greatgameindia_com {background-position: -576px 0px;}
#ethnicmediaservices_org {background-position: -608px 0px;}
#sgtreport_com {background-position: -640px 0px;}
#off_guardian_org {background-position: -672px 0px;}
#thecurvyfashionista_com {background-position: -704px 0px;}
#247newsaroundtheworld_com {background-position: -736px 0px;}
#the_sun_com {background-position: -768px 0px;}
#jamesroguski_substack_com {background-position: -800px 0px;}
#csmonitor_com {background-position: -832px 0px;}
#christiannews_net {background-position: -864px 0px;}
#militarytimes_com {background-position: -896px 0px;}
#ijr_com {background-position: -928px 0px;}
#nearmedia_co {background-position: -960px 0px;}
#americanpressinstitute_org {background-position: -992px 0px;}
#blackiowa_org {background-position: 0px -32px;}
#mercurynews_com {background-position: -32px -32px;}
#lionessofjudah_substack_com {background-position: -64px -32px;}
#flaming_liberal_com {background-position: -96px -32px;}
#bracingviews_com {background-position: -128px -32px;}
#dailydot_com {background-position: -160px -32px;}
#headlinesoftoday_com {background-position: -192px -32px;}
#ctvnews_ca {background-position: -224px -32px;}
#theconversation_com {background-position: -256px -32px;}
#the_scientist_com {background-position: -288px -32px;}
#kotaku_com {background-position: -320px -32px;}
#jacksonadvocateonline_com {background-position: -352px -32px;}
#qz_com {background-position: -384px -32px;}
#newsdirectory3_com {background-position: -416px -32px;}
#techvisibility_com {background-position: -448px -32px;}
#israelpalestinenews_org {background-position: -480px -32px;}
#globalnews_ca {background-position: -512px -32px;}
#crazzfiles_com {background-position: -544px -32px;}
#news_google_com {background-position: -576px -32px;}
#gigaom_com {background-position: -608px -32px;}
#hackread_com {background-position: -640px -32px;}
#rfi_fr {background-position: -672px -32px;}
#the_tribune_com {background-position: -704px -32px;}
#theartnewspaper_com {background-position: -736px -32px;}
#wan_ifra_org {background-position: -768px -32px;}
#theroot_com {background-position: -800px -32px;}
#alaraby_co_uk {background-position: -832px -32px;}
#thecountersignal_com {background-position: -864px -32px;}
#healthimpactnews_com {background-position: -896px -32px;}
#theshaderoom_com {background-position: -928px -32px;}
#criticschoice_com {background-position: -960px -32px;}
#rootstrap_com {background-position: -992px -32px;}
#atlantablackstar_com {background-position: 0px -64px;}
#neurohive_io {background-position: -32px -64px;}
#euractiv_com {background-position: -64px -64px;}
#independent_ie {background-position: -96px -64px;}
#ishiphopdead_com {background-position: -128px -64px;}
#robohub_org {background-position: -160px -64px;}
#afdb_org {background-position: -192px -64px;}
#bbc_co_uk {background-position: -224px -64px;}
#blogspot_com {background-position: -256px -64px;}
#defence_blog_com {background-position: -288px -64px;}
#telegraph_co_uk {background-position: -320px -64px;}
#investmentwatchblog_com {background-position: -352px -64px;}
#asiatimes_com {background-position: -384px -64px;}
#kiratas_com {background-position: -416px -64px;}
#brownstone_org {background-position: -448px -64px;}
#inglewoodtoday_com {background-position: -480px -64px;}
#thisamericanlife_org {background-position: -512px -64px;}
#atlantatribune_com {background-position: -544px -64px;}
#marktechpost_com {background-position: -576px -64px;}
#firstfactcheck_substack_com {background-position: -608px -64px;}
#ft_com {background-position: -640px -64px;}
#winwithoutwar_org {background-position: -672px -64px;}
#aisupremacy_substack_com {background-position: -704px -64px;}
#journalism_co_za {background-position: -736px -64px;}
#goldenglobes_com {background-position: -768px -64px;}
#vanguardngr_com {background-position: -800px -64px;}
#upi_com {background-position: -832px -64px;}
#blacklistednews_com {background-position: -864px -64px;}
#washingtontimes_com {background-position: -896px -64px;}
#ianmsc_substack_com {background-position: -928px -64px;}
#blackdoctor_org {background-position: -960px -64px;}
#indiewire_com {background-position: -992px -64px;}
#allafrica_com {background-position: 0px -96px;}
#onecaribbeantelevision_com {background-position: -32px -96px;}
#themoscowtimes_com {background-position: -64px -96px;}
#growthbarseo_com {background-position: -96px -96px;}
#techtimes_com {background-position: -128px -96px;}
#harlemworldmagazine_com {background-position: -160px -96px;}
#techjuice_pk {background-position: -192px -96px;}
#worldnewsera_com {background-position: -224px -96px;}
#fox40_com {background-position: -256px -96px;}
#shtfplan_com {background-position: -288px -96px;}
#shessinglemag_com {background-position: -320px -96px;}
#dailyexpose_uk {background-position: -352px -96px;}
#brookings_edu {background-position: -384px -96px;}
#entertainment_inquirer_net {background-position: -416px -96px;}
#rtinsights_com {background-position: -448px -96px;}
#citizen_co_za {background-position: -480px -96px;}
#economist_com {background-position: -512px -96px;}
#addisstandard_com {background-position: -544px -96px;}
#newser_com {background-position: -576px -96px;}
#amsterdamnews_com {background-position: -608px -96px;}
#smashingmagazine_com {background-position: -640px -96px;}
#crisisgroup_org {background-position: -672px -96px;}
#shinemycrown_com {background-position: -704px -96px;}
#nytimes_com {background-position: -736px -96px;}
#teachingamericanhistory_org {background-position: -768px -96px;}
#njurbannews_com {background-position: -800px -96px;}
#inlandvalleynews_com {background-position: -832px -96px;}
#lafocusnews_com {background-position: -864px -96px;}
#justsecurity_org {background-position: -896px -96px;}
#contxto_com {background-position: -928px -96px;}
#mattbell_us {background-position: -960px -96px;}
#markcrispinmiller_substack_com {background-position: -992px -96px;}
#thestar_com {background-position: 0px -128px;}
#sfbayview_com {background-position: -32px -128px;}
#thewestendmuseum_org {background-position: -64px -128px;}
#theantimedia_org {background-position: -96px -128px;}
#industrywired_com {background-position: -128px -128px;}
#kbla1580_com {background-position: -160px -128px;}
#news_com_au {background-position: -192px -128px;}
#apple_com {background-position: -224px -128px;}
#scrippsnews_com {background-position: -256px -128px;}
#footwearnews_com {background-position: -288px -128px;}
#al_monitor_com {background-position: -320px -128px;}
#kjlhradio_com {background-position: -352px -128px;}
#tnc_news {background-position: -384px -128px;}
#dialogochino_net {background-position: -416px -128px;}
#ognsc_com {background-position: -448px -128px;}
#codeandhack_com {background-position: -480px -128px;}
#needtoknow_news {background-position: -512px -128px;}
#futuregamereleases_com {background-position: -544px -128px;}
#diversityinc_com {background-position: -576px -128px;}
#nabjonline_org {background-position: -608px -128px;}
#oneindia_com {background-position: -640px -128px;}
#blackprwire_com {background-position: -672px -128px;}
#cjr_org {background-position: -704px -128px;}
#globalissues_org {background-position: -736px -128px;}
#msnbc_com {background-position: -768px -128px;}
#worldstarhiphop_com {background-position: -800px -128px;}
#clickhole_com {background-position: -832px -128px;}
#americanpartisan_org {background-position: -864px -128px;}
#channellife_com_au {background-position: -896px -128px;}
#theuaenews_com {background-position: -928px -128px;}
#cnn_com {background-position: -960px -128px;}
#neuf_tv {background-position: -992px -128px;}
#north_africa_com {background-position: 0px -160px;}
#fiercebiotech_com {background-position: -32px -160px;}
#creativedestructionmedia_com {background-position: -64px -160px;}
#religionnews_com {background-position: -96px -160px;}
#prepperfortress_com {background-position: -128px -160px;}
#bellanaija_com {background-position: -160px -160px;}
#thesun_co_uk {background-position: -192px -160px;}
#gearrice_com {background-position: -224px -160px;}
#business_blogthinkbig_com {background-position: -256px -160px;}
#euronews_com {background-position: -288px -160px;}
#skynews_com {background-position: -320px -160px;}
#newsweek_com {background-position: -352px -160px;}
#cnet_com {background-position: -384px -160px;}
#theaigang_com {background-position: -416px -160px;}
#urbangeekz_com {background-position: -448px -160px;}
#newsnationnow_com {background-position: -480px -160px;}
#medialens_org {background-position: -512px -160px;}
#siliconvalley_com {background-position: -544px -160px;}
#thecipherbrief_com {background-position: -576px -160px;}
#democracynow_org {background-position: -608px -160px;}
#mtv_com {background-position: -640px -160px;}
#jezebel_com {background-position: -672px -160px;}
#abcnews_go_com {background-position: -704px -160px;}
#blogging_africa {background-position: -736px -160px;}
#yournewswire_com {background-position: -768px -160px;}
#african_business {background-position: -800px -160px;}
#techday_asia {background-position: -832px -160px;}
#vox_com {background-position: -864px -160px;}
#80_lv {background-position: -896px -160px;}
#vested_co_in {background-position: -928px -160px;}
#libertarianinstitute_org {background-position: -960px -160px;}
#celebdirtylaundry_com {background-position: -992px -160px;}
#louisbouchard_ai {background-position: 0px -192px;}
#adweek_com {background-position: -32px -192px;}
#rferl_org {background-position: -64px -192px;}
#opticflux_com {background-position: -96px -192px;}
#www1_cbn_com {background-position: -128px -192px;}
#wnycstudios_org {background-position: -160px -192px;}
#thehustle_co {background-position: -192px -192px;}
#geekwire_com {background-position: -224px -192px;}
#mfmpod_com {background-position: -256px -192px;}
#simplecast_com {background-position: -288px -192px;}
#soigneswankmagazine_com {background-position: -320px -192px;}
#techxataka_com {background-position: -352px -192px;}
#pitchfork_com {background-position: -384px -192px;}
#andscape_com {background-position: -416px -192px;}
#resistthemainstream_org {background-position: -448px -192px;}
#lastweekin_ai {background-position: -480px -192px;}
#thelocal_com {background-position: -512px -192px;}
#latinamericareports_com {background-position: -544px -192px;}
#soulofamerica_com {background-position: -576px -192px;}
#politicshome_com {background-position: -608px -192px;}
#towardsai_net {background-position: -640px -192px;}
#watchdoguganda_com {background-position: -672px -192px;}
#naturalnews_com {background-position: -704px -192px;}
#sun_sentinel_com {background-position: -736px -192px;}
#technologyreview_com {background-position: -768px -192px;}
#deccanchronicle_com {background-position: -800px -192px;}
#egyptindependent_com {background-position: -832px -192px;}
#hgsmediaplus_com {background-position: -864px -192px;}
#androidpolice_com {background-position: -896px -192px;}
#themetrorecord_com {background-position: -928px -192px;}
#artnews_com {background-position: -960px -192px;}
#web_dev {background-position: -992px -192px;}
#neowin_net {background-position: 0px -224px;}
#menas_co_uk {background-position: -32px -224px;}
#extremetech_com {background-position: -64px -224px;}
#talkingpointsmemo_com {background-position: -96px -224px;}
#substack_com {background-position: -128px -224px;}
#daleonai_com {background-position: -160px -224px;}
#washingtonexaminer_com {background-position: -192px -224px;}
#bostonherald_com {background-position: -224px -224px;}
#forbiddenknowledgetv_net {background-position: -256px -224px;}
#voxeurop_eu {background-position: -288px -224px;}
#dpreview_com {background-position: -320px -224px;}
#tmz_com {background-position: -352px -224px;}
#scmp_com {background-position: -384px -224px;}
#productprinciple_co {background-position: -416px -224px;}
#theverge_com {background-position: -448px -224px;}
#aljazeera_com {background-position: -480px -224px;}
#greencarcongress_com {background-position: -512px -224px;}
#feedburner_com {background-position: -544px -224px;}
#wareable_com {background-position: -576px -224px;}
#africanarguments_org {background-position: -608px -224px;}
#news_yahoo_com {background-position: -640px -224px;}
#internationalsecurityjournal_com {background-position: -672px -224px;}
#heavy_com {background-position: -704px -224px;}
#news_yale_edu {background-position: -736px -224px;}
#oaklandside_org {background-position: -768px -224px;}
#ebony_com {background-position: -800px -224px;}
#algemeiner_com {background-position: -832px -224px;}
#loop21_com {background-position: -864px -224px;}
#shoppeblack_us {background-position: -896px -224px;}
#reporter_am {background-position: -928px -224px;}
#russh_com {background-position: -960px -224px;}
#ifex_org {background-position: -992px -224px;}
#blackcommunitynews_com {background-position: 0px -256px;}
#geostrategy_direct_com {background-position: -32px -256px;}
#unitynewsnetwork_co_uk {background-position: -64px -256px;}
#webpronews_com {background-position: -96px -256px;}
#seeflection_com {background-position: -128px -256px;}
#theievoice_com {background-position: -160px -256px;}
#richieallen_co_uk {background-position: -192px -256px;}
#cpomagazine_com {background-position: -224px -256px;}
#timesofindia_indiatimes_com {background-position: -256px -256px;}
#3girlstheatre_org {background-position: -288px -256px;}
#medium_com {background-position: -320px -256px;}
#hollywoodreporter_com {background-position: -352px -256px;}
#blacknetnews_com {background-position: -384px -256px;}
#blackwomenineurope_com {background-position: -416px -256px;}
#blog_rhinoafrica_com {background-position: -448px -256px;}
#about_fb_com {background-position: -480px -256px;}
#vibe_com {background-position: -512px -256px;}
#capitalbnews_org {background-position: -544px -256px;}
#sana_sy {background-position: -576px -256px;}
#africanews_com {background-position: -608px -256px;}
#easternherald_com {background-position: -640px -256px;}
#peoplesworldwar_com {background-position: -672px -256px;}
#morningconsult_com {background-position: -704px -256px;}
#producthunt_com {background-position: -736px -256px;}
#thechinaproject_com {background-position: -768px -256px;}
#popmatters_com {background-position: -800px -256px;}
#worldstopexports_com {background-position: -832px -256px;}
#techspot_com {background-position: -864px -256px;}
#newsone_com {background-position: -896px -256px;}
#techpinions_com {background-position: -928px -256px;}
#daystech_org {background-position: -960px -256px;}
#cbsnews_com {background-position: -992px -256px;}
#huffpost_com {background-position: 0px -288px;}
#ethiopianmonitor_com {background-position: -32px -288px;}
#computerworld_com {background-position: -64px -288px;}
#huggingface_co {background-position: -96px -288px;}
#seattletimes_com {background-position: -128px -288px;}
#baltimoretimes_online_com {background-position: -160px -288px;}
#wonderfulengineering_com {background-position: -192px -288px;}
#analyticsinsight_net {background-position: -224px -288px;}
#paho_org {background-position: -256px -288px;}
#theconservativetreehouse_com {background-position: -288px -288px;}
#en_volve_com {background-position: -320px -288px;}
#cosmic_times_com {background-position: -352px -288px;}
#ebanman_com {background-position: -384px -288px;}
#businessinsider_com {background-position: -416px -288px;}
#thecovidblog_com {background-position: -448px -288px;}
#digismak_com {background-position: -480px -288px;}
#nerdwallet_com {background-position: -512px -288px;}
#radarr_africa {background-position: -544px -288px;}
#blackamericaweb_com {background-position: -576px -288px;}
#straitstimes_com {background-position: -608px -288px;}
#caribbeannationalweekly_com {background-position: -640px -288px;}
#warontherocks_com {background-position: -672px -288px;}
#blacknewschannel_com {background-position: -704px -288px;}
#aframnews_com {background-position: -736px -288px;}
#haaretz_com {background-position: -768px -288px;}
#insidehighered_com {background-position: -800px -288px;}
#theringer_com {background-position: -832px -288px;}
#towardsdatascience_com {background-position: -864px -288px;}
#caribjournal_com {background-position: -896px -288px;}
#kunstler_com {background-position: -928px -288px;}
#thewrap_com {background-position: -960px -288px;}
#newsblaze_com {background-position: -992px -288px;}
#insidehpc_com {background-position: 0px -320px;}
#indiatimes_com {background-position: -32px -320px;}
#ocregister_com {background-position: -64px -320px;}
#technewsworld_com {background-position: -96px -320px;}
#albawaba_com {background-position: -128px -320px;}
#lifestyleasia_com {background-position: -160px -320px;}
#latamlist_com {background-position: -192px -320px;}
#jpost_com {background-position: -224px -320px;}
#wakingtimes_com {background-position: -256px -320px;}
#kaironews_com {background-position: -288px -320px;}
#cnbc_com {background-position: -320px -320px;}
#africasacountry_com {background-position: -352px -320px;}
#middleeasteye_net {background-position: -384px -320px;}
#newscientist_com {background-position: -416px -320px;}
#gadgets360_com {background-position: -448px -320px;}
#wearejerseyent_com {background-position: -480px -320px;}
#hellobeautiful_com {background-position: -512px -320px;}
#blackenterprise_com {background-position: -544px -320px;}
#dj_com {background-position: -576px -320px;}
#naomiwolf_substack_com {background-position: -608px -320px;}
#counterpunch_org {background-position: -640px -320px;}
#drsircus_com {background-position: -672px -320px;}
#firstpost_com {background-position: -704px -320px;}
#trend_az {background-position: -736px -320px;}
#realnewsaustralia_com {background-position: -768px -320px;}
#washingtonmonthly_com {background-position: -800px -320px;}
#news_usa_today {background-position: -832px -320px;}
#extratv_com {background-position: -864px -320px;}
#leafbuilder_net {background-position: -896px -320px;}
#rnz_co_nz {background-position: -928px -320px;}
#thenewamerican_com {background-position: -960px -320px;}
#oann_com {background-position: -992px -320px;}
#oneplus_com {background-position: 0px -352px;}
#earthnewspaper_com {background-position: -32px -352px;}
#liberal_org_au {background-position: -64px -352px;}
#bet_com {background-position: -96px -352px;}
#articleify_com {background-position: -128px -352px;}
#deadline_com {background-position: -160px -352px;}
#montrealgazette_com {background-position: -192px -352px;}
#rt_com {background-position: -224px -352px;}
#spotcovery_com {background-position: -256px -352px;}
#editorialge_com {background-position: -288px -352px;}
#venturesafrica_com {background-position: -320px -352px;}
#irishtimes_com {background-position: -352px -352px;}
#thedailybell_com {background-position: -384px -352px;}
#dailynewsegypt_com {background-position: -416px -352px;}
#consentfactory_org {background-position: -448px -352px;}
#japantimes_co_jp {background-position: -480px -352px;}
#insidebigdata_com {background-position: -512px -352px;}
#howwemadeitinafrica_com {background-position: -544px -352px;}
#freewestmedia_com {background-position: -576px -352px;}
#blockgeni_com {background-position: -608px -352px;}
#thebaffler_com {background-position: -640px -352px;}
#thetrentonline_com {background-position: -672px -352px;}
#heroichollywood_com {background-position: -704px -352px;}
#thehill_com {background-position: -736px -352px;}
#themillenniumreport_com {background-position: -768px -352px;}
#futurism_com {background-position: -800px -352px;}
#thefederalistpapers_org {background-position: -832px -352px;}
#infoworld_com {background-position: -864px -352px;}
#thefreethoughtproject_com {background-position: -896px -352px;}
#funnyordie_com {background-position: -928px -352px;}
#engadget_com {background-position: -960px -352px;}
#theworld_org {background-position: -992px -352px;}
#goldengatexpress_org {background-position: 0px -384px;}
#theatlantic_com {background-position: -32px -384px;}
#ycombinator_com {background-position: -64px -384px;}
#foreignpolicy_com {background-position: -96px -384px;}
#inputmag_com {background-position: -128px -384px;}
#express_co_uk {background-position: -160px -384px;}
#telesurtv_net {background-position: -192px -384px;}
#gizmodo_com {background-position: -224px -384px;}
#aaregistry_org {background-position: -256px -384px;}
#imemc_org {background-position: -288px -384px;}
#sesimag_com {background-position: -320px -384px;}
#nordicapis_com {background-position: -352px -384px;}
#rairfoundation_com {background-position: -384px -384px;}
#blog_inten_to {background-position: -416px -384px;}
#ourorganicwellness_com {background-position: -448px -384px;}
#socialmediatoday_com {background-position: -480px -384px;}
#forbes_com {background-position: -512px -384px;}
#ifpnews_com {background-position: -544px -384px;}
#japantoday_com {background-position: -576px -384px;}
#datanami_com {background-position: -608px -384px;}
#notrickszone_com {background-position: -640px -384px;}
#cassiuslife_com {background-position: -672px -384px;}
#globalpressjournal_com {background-position: -704px -384px;}
#breitbart_com {background-position: -736px -384px;}
#americanfreepress_net {background-position: -768px -384px;}
#aa_com_tr {background-position: -800px -384px;}
#thereporterethiopia_com {background-position: -832px -384px;}
#blackvoicenews_com {background-position: -864px -384px;}
#insider_com {background-position: -896px -384px;}
#verysmartbrothas_theroot_com {background-position: -928px -384px;}
#blackpressusa_com {background-position: -960px -384px;}
#matt_rickard_com {background-position: -992px -384px;}
#wsj_com {background-position: 0px -416px;}
#blackmeninamerica_com {background-position: -32px -416px;}
#petapixel_com {background-position: -64px -416px;}
#africa_com {background-position: -96px -416px;}
#mirror_co_uk {background-position: -128px -416px;}
#nzherald_co_nz {background-position: -160px -416px;}
#taipeitimes_com {background-position: -192px -416px;}
#news_antiwar_com {background-position: -224px -416px;}
#infowars_com {background-position: -256px -416px;}
#coercioncode_com {background-position: -288px -416px;}
#timesofisrael_com {background-position: -320px -416px;}
#benarnews_org {background-position: -352px -416px;}
#alethonews_com {background-position: -384px -416px;}
#stephenlendman_org {background-position: -416px -416px;}
#peoplesdispatch_org {background-position: -448px -416px;}
#fortune_com {background-position: -480px -416px;}
#news_mit_edu {background-position: -512px -416px;}
#crwnmag_com {background-position: -544px -416px;}
#searchengineland_com {background-position: -576px -416px;}
#capitalethiopia_com {background-position: -608px -416px;}
#thegrio_com {background-position: -640px -416px;}
#syncedreview_com {background-position: -672px -416px;}
#cpj_org {background-position: -704px -416px;}
#dailytelegraph_com_au {background-position: -736px -416px;}
#mg_co_za {background-position: -768px -416px;}
#thephaser_com {background-position: -800px -416px;}
#thecaribbeannewsnow_com {background-position: -832px -416px;}
#theundefeated_com {background-position: -864px -416px;}
#future_com {background-position: -896px -416px;}
#blacknews_com {background-position: -928px -416px;}
#mosaicmagazine_com {background-position: -960px -416px;}
#spiegel_de {background-position: -992px -416px;}
#politico_eu {background-position: 0px -448px;}
#wtop_com {background-position: -32px -448px;}
#leohohmann_com {background-position: -64px -448px;}
#essence_com {background-position: -96px -448px;}
#voanews_com {background-position: -128px -448px;}
#techmeme_com {background-position: -160px -448px;}
#bignewsnetwork_com {background-position: -192px -448px;}
#dailymail_co_uk {background-position: -224px -448px;}
#amnesty_org {background-position: -256px -448px;}
#longbeachblacknews_com {background-position: -288px -448px;}
#oicanadian_com {background-position: -320px -448px;}
#diverseeducation_com {background-position: -352px -448px;}
#richmondpulse_org {background-position: -384px -448px;}
#hiphopwired_com {background-position: -416px -448px;}
#jamaicaobserver_com {background-position: -448px -448px;}
#independent_co_uk {background-position: -480px -448px;}
#idolator_com {background-position: -512px -448px;}
#asia_nikkei_com {background-position: -544px -448px;}
#france24_com {background-position: -576px -448px;}
#itnews_asia {background-position: -608px -448px;}
#prnewswire_com {background-position: -640px -448px;}
#bdtechtalks_com {background-position: -672px -448px;}
#zawya_com {background-position: -704px -448px;}
#wng_org {background-position: -736px -448px;}
#zephyrnet_com {background-position: -768px -448px;}
#afro_who_int {background-position: -800px -448px;}
#world_today_journal_com {background-position: -832px -448px;}
#indiatoday_in {background-position: -864px -448px;}
#justthenews_com {background-position: -896px -448px;}
#theunionjournal_com {background-position: -928px -448px;}
#showbizjunkies_com {background-position: -960px -448px;}
#hackernoon_com {background-position: -992px -448px;}
#expose_news_com {background-position: 0px -480px;}
#google_com {background-position: -32px -480px;}
#truthunmuted_org {background-position: -64px -480px;}
#theskepticsguide_org {background-position: -96px -480px;}
#fair_org {background-position: -128px -480px;}
#munaluchibridal_com {background-position: -160px -480px;}
#snopes_com {background-position: -192px -480px;}
#foxnews_com {background-position: -224px -480px;}
#mcclatchy_com {background-position: -256px -480px;}
#veteranstoday_com {background-position: -288px -480px;}
#business_standard_com {background-position: -320px -480px;}
#themobileindian_com {background-position: -352px -480px;}
#modernghana_com {background-position: -384px -480px;}
#digitaltrends_com {background-position: -416px -480px;}
#content_technologist_com {background-position: -448px -480px;}
#breakingnews_ie {background-position: -480px -480px;}
#inverse_com {background-position: -512px -480px;}
#theybf_com {background-position: -544px -480px;}
#ieee_org {background-position: -576px -480px;}
#sportico_com {background-position: -608px -480px;}
#federalnewsnetwork_com {background-position: -640px -480px;}
#diasporafoodstories_com {background-position: -672px -480px;}
#chinabankingnews_com {background-position: -704px -480px;}
#childrenshealthdefense_org {background-position: -736px -480px;}
#game_news24_com {background-position: -768px -480px;}
#eastbaytimes_com {background-position: -800px -480px;}
#armenpress_am {background-position: -832px -480px;}
#knowyouradversary_com {background-position: -864px -480px;}
#reclaimthenet_org {background-position: -896px -480px;}
#21stcenturywire_com {background-position: -928px -480px;}
#statnews_com {background-position: -960px -480px;}
#whathifi_com {background-position: -992px -480px;}
#pajhwok_com {background-position: 0px -512px;}
#worldweeklynews_com {background-position: -32px -512px;}
#smithsonianmag_com {background-position: -64px -512px;}
#repeatingislands_com {background-position: -96px -512px;}
#innerlightpublications_com {background-position: -128px -512px;}
#ibtimes_co_uk {background-position: -160px -512px;}
#haitilibre_com {background-position: -192px -512px;}
#mediatakeout_com {background-position: -224px -512px;}
#siliconangle_com {background-position: -256px -512px;}
#asiatechdaily_com {background-position: -288px -512px;}
#digiday_com {background-position: -320px -512px;}
#tech_co {background-position: -352px -512px;}
#wnd_com {background-position: -384px -512px;}
#brisbanetimes_com_au {background-position: -416px -512px;}
#arezki360_com {background-position: -448px -512px;}
#thedailybeast_com {background-position: -480px -512px;}
#techwireasia_com {background-position: -512px -512px;}
#beachcityradio_com {background-position: -544px -512px;}
#latimes_com {background-position: -576px -512px;}
#rss_newser_com {background-position: -608px -512px;}
#jamesperloff_net {background-position: -640px -512px;}
#ded9_com {background-position: -672px -512px;}
#xonecole_com {background-position: -704px -512px;}
#hindustantimes_com {background-position: -736px -512px;}
#themedialine_org {background-position: -768px -512px;}
#cio_com {background-position: -800px -512px;}
#goodblacknews_org {background-position: -832px -512px;}
#theguardian_com {background-position: -864px -512px;}
#usawatchdog_com {background-position: -896px -512px;}
#eweek_com {background-position: -928px -512px;}
#rss_dw_com {background-position: -960px -512px;}
#caspiannews_com {background-position: -992px -512px;}
#themindunleashed_org {background-position: 0px -544px;}
#eurasiareview_com {background-position: -32px -544px;}
#centralvalleyvoice_com {background-position: -64px -544px;}
#gigazine_net {background-position: -96px -544px;}
#madamenoire_com {background-position: -128px -544px;}
#youtube_com {background-position: -160px -544px;}
#financialpost_com {background-position: -192px -544px;}
#sacobserver_com {background-position: -224px -544px;}
#ourweekly_com {background-position: -256px -544px;}
#unz_com {background-position: -288px -544px;}
#fishbowlteaching_com {background-position: -320px -544px;}
#sfgate_com {background-position: -352px -544px;}
#mexiconewsdaily_com {background-position: -384px -544px;}
#vallartadaily_com {background-position: -416px -544px;}
#blacknet_co_uk {background-position: -448px -544px;}
#covertactionmagazine_com {background-position: -480px -544px;}
#hyperight_com {background-position: -512px -544px;}
#time_com {background-position: -544px -544px;}
#zdnet_com {background-position: -576px -544px;}
#thenews_com_pk {background-position: -608px -544px;}
#lifehacker_com {background-position: -640px -544px;}
#caitlinjohnstone_com {background-position: -672px -544px;}
#alternet_org {background-position: -704px -544px;}
#saharareporters_com {background-position: -736px -544px;}
#smilegate_ai {background-position: -768px -544px;}
#swagheronline_com {background-position: -800px -544px;}
#smh_com_au {background-position: -832px -544px;}
#bgr_com {background-position: -864px -544px;}
#africalive_education {background-position: -896px -544px;}
#itnewsafrica_com {background-position: -928px -544px;}
#economictimes_com {background-position: -960px -544px;}
#fastcompany_com {background-position: -992px -544px;}
#potentnews_com {background-position: 0px -576px;}
#globalgrind_com {background-position: -32px -576px;}
#clifhigh_substack_com {background-position: -64px -576px;}
#urban1_com {background-position: -96px -576px;}
#pbs_org {background-position: -128px -576px;}
#sputniknews_com {background-position: -160px -576px;}
#fashionbombdaily_com {background-position: -192px -576px;}
#theorganicprepper_com {background-position: -224px -576px;}
#nydailynews_com {background-position: -256px -576px;}
#nationalpost_com {background-position: -288px -576px;}
#lesswrong_com {background-position: -320px -576px;}
#sott_net {background-position: -352px -576px;}
#tnj_com {background-position: -384px -576px;}
#sdmonitornews_com {background-position: -416px -576px;}
#techeblog_com {background-position: -448px -576px;}
#laprensalatina_com {background-position: -480px -576px;}
#stevekirsch_substack_com {background-position: -512px -576px;}
#rawstory_com {background-position: -544px -576px;}
#globalresearch_ca {background-position: -576px -576px;}
#betanews_com {background-position: -608px -576px;}
#drtrozzi_org {background-position: -640px -576px;}
#realnewsmagazine_net {background-position: -672px -576px;}
#original_antiwar_com {background-position: -704px -576px;}
#mintpressnews_com {background-position: -736px -576px;}
#siliconrepublic_com {background-position: -768px -576px;}
#npr_org {background-position: -800px -576px;}
#mashable_com {background-position: -832px -576px;}
#kyodonews_net {background-position: -864px -576px;}
#nypost_com {background-position: -896px -576px;}
#rossdawson_com {background-position: -928px -576px;}
#cuisinenoirmag_com {background-position: -960px -576px;}
#globalvoices_org {background-position: -992px -576px;}
#cantechletter_com {background-position: 0px -608px;}
#techcabal_com {background-position: -32px -608px;}
#roboflow_com {background-position: -64px -608px;}
#tass_com {background-position: -96px -608px;}
#conspiracydailyupdate_com {background-position: -128px -608px;}
#analyticsindiamag_com {background-position: -160px -608px;}
#biznology_com {background-position: -192px -608px;}
#thenewstack_io {background-position: -224px -608px;}
#cosmic_matters_tv_com {background-position: -256px -608px;}
#dw_com {background-position: -288px -608px;}
#arstechnica_com {background-position: -320px -608px;}
#iceagefarmer_com {background-position: -352px -608px;}
#richardcharnin_wordpress_com {background-position: -384px -608px;}
#newafricanmagazine_com {background-position: -416px -608px;}
#techcrunch_com {background-position: -448px -608px;}
#wordinblack_com {background-position: -480px -608px;}
#stopworldcontrol_com {background-position: -512px -608px;}
#tulsatoday_com {background-position: -544px -608px;}
#slideshare_net {background-position: -576px -608px;}
#archyde_com {background-position: -608px -608px;}
#vigilantcitizen_com {background-position: -640px -608px;}
#popsugar_com {background-position: -672px -608px;}
#riotimesonline_com {background-position: -704px -608px;}
#trtworld_com {background-position: -736px -608px;}
#westsidestorynewspaper_com {background-position: -768px -608px;}
#avclub_com {background-position: -800px -608px;}
#androidauthority_net {background-position: -832px -608px;}
#foreignaffairs_com {background-position: -864px -608px;}
#caribbeannewsglobal_com {background-position: -896px -608px;}
#oaklandpostonline_com {background-position: -928px -608px;}
#openai_com {background-position: -960px -608px;}
#propublica_org {background-position: -992px -608px;}
#thebayareareview_com {background-position: 0px -640px;}
#thesource_com {background-position: -32px -640px;}
#ndtv_com {background-position: -64px -640px;}
#justjared_com {background-position: -96px -640px;}
#clearpathrobotics_com {background-position: -128px -640px;}
#lewrockwell_com {background-position: -160px -640px;}
#nexbites_com {background-position: -192px -640px;}
#satellitetoday_com {background-position: -224px -640px;}
#sdvoice_info {background-position: -256px -640px;}
#bakztfuture_podbean_com {background-position: -288px -640px;}
#maven_io {background-position: -320px -640px;}
#e_ir_info {background-position: -352px -640px;}
#akipress_com {background-position: -384px -640px;}
#boingboing_net {background-position: -416px -640px;}
#winterwatch_net {background-position: -448px -640px;}
#firstshowing_net {background-position: -480px -640px;}
#sb_american_com {background-position: -512px -640px;}
#9to5mac_com {background-position: -544px -640px;}
#onmenews_com {background-position: -576px -640px;}
#bullfrag_com {background-position: -608px -640px;}
